Package: com.mikejing.revealloaderinject
Name: RevealLoaderInject
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: mikejing
Author: mikejing
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
